@import './mixins';
@import './colors';
#calculator--container{
    width: 30%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: $containerBg;
    border: 10px solid $black;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    gap: 0.5rem;

    #current-calc{
        min-height: 60%;
        display: inline-block;
        grid-column: 1/4;
        grid-row: 1/2;
        align-self: center;
        @include pastCurrentBgBorder;
        
    };
    #past-calc{
        min-height: 60%;
        display: inline-block;
        @include pastCurrentBgBorder;
        grid-column: 4/5;
        grid-row: 1/2;
        text-align: center;
        align-self: center
    };
    #operators{
        grid-column: 4/5;
        grid-row: 2/6;
        display: grid;
        grid-template-columns:1fr;
        gap: 0.5rem;
        div{
            @include buttonsBgBorderFlexCenter;
        }
    };
    #numbers{
        grid-column: 1/4;
        grid-row: 2/6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        div{
            @include buttonsBgBorderFlexCenter;
        }
        [alt="0"]{
            width: 100%;
            grid-column: 1/3;
        }
    };
}